<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/DT</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="model/VicedenniAkce.hbm.xml"/>
    <mapping resource="model/JednodenniAkce.hbm.xml"/>
    <mapping resource="model/Ukol.hbm.xml"/>
    <mapping resource="model/Schuzka.hbm.xml"/>
    <mapping resource="model/UcastNaAkci.hbm.xml"/>
    <mapping resource="model/DruhSchuzky.hbm.xml"/>
    <mapping resource="model/Uzivatel.hbm.xml"/>
    <mapping resource="model/Ubytovani.hbm.xml"/>
    <mapping resource="model/Role.hbm.xml"/>
    <mapping resource="model/DruhAkce.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
